@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes hover-vibrate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.hover-vibrate {
  animation: hover-vibrate 1s infinite;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-6 {
  transform: rotate(6deg);
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.my-color-primary {
 background-color: #cacdd1;
}

.my-other-color-primary {
  background-color: #7173a0;
}

.my-color-secondary {
  background-color: #ffffff;
}

.my-other-color-secondary {
  background-color: #d0dceb;
}

.my-color-tertiary {
  
}

.my-other-color-tertiary {
  
}

.my-button-primary {
  background-color: #d1d5db;
}

.my-other-button-primary {
  background-color: #1e3a8a;
}

.my-text-primary {
  color:  #374151;
}

.my-other-text-primary {
  color: #ffffff;
}

.my-text-secondary {
  color: #6b7280;
}

.my-other-text-secondary {
  color: #ffffff;
}

.my-border-primary {
  border-color: #d1d5db;
}

.my-other-border-primary {
  border-color: #1e3a8a;
}
